# Dependencies
node_modules/

backend/serviceAccountKey.json
# Environment Variables
.env
backend/.env
frontend/.env
admin/.env
# Logs
logs
*.log
npm-debug.log*

# Build
dist/
build/

# Vite
.vite

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Coverage
coverage/

# Temporary Files
*.tmp
*.temp